<div class="example-container">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput #txtUsername>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput #txtEmail>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput #txtPhoneNumber>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput #txtNewPassword [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary"
    (click)="forgetpass(txtUsername,txtEmail,txtPhoneNumber,txtNewPassword)">Create New Password
  </button>
  <br>
</div>
