<div class="right-align">
  <button mat-mini-fab (click)=" goToProfile()" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
</div>
<div class="right-align">
  <button mat-mini-fab color="primary" (click)=" goToDashboard()" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</div>
<mat-toolbar color="primary" class="centered-toolbar">
  All Auctions
</mat-toolbar>
<router-outlet></router-outlet>

<mat-grid-list cols="1" rowHeight="50px">
  <mat-grid-tile *ngFor="let auction of auctions">
    <mat-card (click)=" 
      goToAuctionDetail(auction.auctionName)">
      {{ auction.auctionName }}
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="showButton" class="right-align">
  <div>
    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input matInput #txtProductName>
    </mat-form-field>
  </div>
  <br>
  <div>
    <mat-form-field>
      <mat-label>Provider Username</mat-label>
      <input matInput #txtproviderUserName>
    </mat-form-field>
  </div>
  <br>
  <div>
    <mat-form-field>
      <mat-label>Auction Name</mat-label>
      <input matInput #txtAuctionName>
    </mat-form-field>
  </div>
  <br>
  <div>
    <mat-form-field>
      <mat-label>Start Price</mat-label>
      <input matInput #txtStartPrice>
    </mat-form-field>
  </div>
  <br>
  <div>
    <mat-form-field>
      <mat-label>Auction Description</mat-label>
      <input matInput #txtDescription>
    </mat-form-field>
  </div>
  <br>
  <div>

    <mat-label>Photo</mat-label>
    <input type="file" (change)="handleFileInput($event)" #fileInput>

  </div>


  <br>
  <br>
  <div><button mat-mini-fab
      (click)="createAuction(txtProductName,txtproviderUserName,txtAuctionName,txtStartPrice,txtDescription)"
      color="accent" aria-label="Example icon button with a plus one icon">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>
</div>
